name: Microservices CI/CD
on:
  push:
    paths: ['microservice/**']
jobs:
  build-and-secure:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Fix script permissions
        run: bash common/fix-permissions.sh

      - name: Install Tools
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh
          curl -sSfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh

      - name: Build & Secure
        run: |
          for svc in backup deploy health secret cost; do
            cd microservice/$svc
            ../common/build.sh $svc
            syft localhost/$svc-api:latest -o cyclonedx-json > sbom-$svc.json
            cosign sign --yes localhost/$svc-api:latest
            trivy image --exit-code 1 --severity HIGH,CRITICAL localhost/$svc-api:latest
          done
